@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  width: 100%;
  height: 100%;
  background-color: white;
}



/* insta-tag container */

.insta-box{
  align-items: center;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 1px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font: inherit;
  font-size: 100%;
  margin: 0 0 10px;
  padding: 10px 0;
  position: relative;
  vertical-align: baseline;
}

/* Insta-Logo */
.insta-logo{
  background-image: url('../public/images/logo.png'); 
  background-position: 0px 0px; 
  background-size: 176px 186px; 
  width: 174px; height: 50px; 
  background-repeat: no-repeat; 
  display: inline-block;
}


/* signup Page */
.signup-main{
  max-width: 350px;
  min-width: 350px;
}

.signup-form{
  display: flex;
  flex-direction: column;
}
.sspan{
  display: block;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  word-wrap: break-word;
  font-weight: 600;
  color: rgb(115, 115, 115);
}

/*  */
.btn-fb{
  background-color: rgb(0, 149, 246);
  opacity: 0.7;
  margin: 8px 40px 6px;
  pointer-events: none;
  border-radius: 8px;
  color: white;
  
  font-size: 14px;
  font-weight: 600;
  padding: 7px 16px;
  display: flex;
  justify-content: center;
  
}
.fb-logo{
  background-image: url('../public/images/fb-all.png');
  display: inline-block;
  background-repeat: no-repeat;
  background-position: -414px -259px;
  height: 16px;
  width: 16px;
}
.fb-login{
  color: #385185;
  font-weight: 600;
  position: relative;

}
/* OR divider */
.divd{
  /* top: .45em; */
  flex-shrink: 1;
  position: relative;
  flex-grow: 1;
  background-color: rgb(219, 219, 219);
  max-width: 350px;
  vertical-align: baseline;
}
.divd-or{
  margin: 0 18px;
  padding-left: 0;
  flex-direction: column;
  font-weight: 600;
  color: rgb(115, 115, 115);
  align-items: stretch;
  font-size: .8125rem;
  line-height: 1.1538;
}
/*  */

.signup>div{
  margin: 15px;
  text-align: center;
}
.signup>div>a>span{
  color: rgb(0, 149, 246);
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}
/* Last */

.last{
  margin: 10px 20px 10px 20px;
  padding: 0;
  text-align: center;
  vertical-align: baseline;
}
.last-1>span{
  line-height: 18px;
  font-weight: 400;
  --base-line-clamp-line-height: 18px;
}

.img-p{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0 10px 0;
}
a,a:visited{
  color: rgb(0,55,107);
  text-decoration: none;
}


/* footer */
.f-ele{
  overflow-y: visible;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 12px;
  border-bottom-left-radius: 0;
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
}
.f-ele>a>span{
  line-height: 16px;
  overflow-y: visible;
  font-weight: 400;
  word-wrap: break-word;
  color: rgb(115,115,115);
  white-space: pre-line;
  font-size: 12px;
  max-width: 100%;
}
.f-ele2{
  overflow-y: visible;
  margin-left: 8px;
  border-bottom-left-radius: 0;
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;

}